<?xml version="1.0"?>
<!-- 
/**
 * @category   Creare
 * @package    Creare_Latesttweet
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
  <modules>
    <Creare_Latesttweet>
      <version>0.1.0</version>
    </Creare_Latesttweet>
  </modules>
  <frontend>
    <layout>
      <updates>
        <latesttweet>
          <file>latesttweet.xml</file>
        </latesttweet>
      </updates>
    </layout>
  </frontend>
  <adminhtml>
    <layout>
      <updates>
        <latesttweet>
          <file>latesttweet.xml</file>
        </latesttweet>
      </updates>
    </layout>
  </adminhtml>
  <global>
    <models>
      <latesttweet>
        <class>Creare_Latesttweet_Model</class>
        <resourceModel>latesttweet_mysql4</resourceModel>
      </latesttweet>
      <latesttweet_adminhtml>
        <class>Creare_Latesttweet_Model_Adminhtml</class>
      </latesttweet_adminhtml>
      <latesttweet_mysql4>
        <class>Creare_Latesttweet_Model_Mysql4</class>
        <entities>
          <latesttweet>
            <table>latesttweet</table>
          </latesttweet>
        </entities>
      </latesttweet_mysql4>
    </models>
    <resources>
      <creare_latesttweet_setup>
        <setup>
          <module>Creare_Latesttweet</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </creare_latesttweet_setup>
    </resources>
    <blocks>
      <latesttweet>
        <class>Creare_Latesttweet_Block</class>
      </latesttweet>
    </blocks>
    <helpers>
      <latesttweet>
        <class>Creare_Latesttweet_Helper</class>
      </latesttweet>
    </helpers>
  </global>
  <default>
    <latesttweet>
      <latesttweet>
        <active>1</active>
        <twitterid>magentofox</twitterid>
		<numberoftweets>1</numberoftweets>
        <showlinks>1</showlinks>
		<usenofollow>1</usenofollow>
		<opennew>1</opennew>
      </latesttweet>
    </latesttweet>
  </default>
  <adminhtml>
    <acl>
      <resources>
        <all>
          <title>Allow Everything</title>
        </all>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <latesttweet>
                      <title>CreareGroup - All</title>
                    </latesttweet>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
</config>
